@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.reddit-sans-Fonterito {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(17, 16, 16) !important;
}

header nav {
  width: 100%;
  height: 10%;
  border: 1.3px solid rgb(255, 255, 255, 0.1);
  padding: 0px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo,
.end_bx {
  display: flex;
  align-items: center;
}

header nav .logo img {
  width: 100px;
}

header nav .end_bx ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header nav .end_bx ul li {
  margin: 0px 30px;
  position: relative;
}
header nav .end_bx ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.7);
  font-size: 14px;
  font-family: Poppins, sans-serif;
  transition: 0.3s linear;
}
/*new*/
header nav .end_bx ul li:nth-child(3) {
  color: rgb(255, 255, 255, 0.7);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  transition: 0.3s linear;
  cursor: pointer;
}
header nav .end_bx ul li:nth-child(3):hover {
  color: #fff;
}
/*end new*/

header nav .end_bx ul a:hover {
  color: #fff;
}
/* NEW */
header nav .end_bx ul li:nth-child(3) .fa-solid {
  font-size: 12px;
  margin: 2px 0px 0px 3px;
  transition: 0.3s linear;
}

header nav .end_bx ul li:nth-child(3):hover .fa-solid {
  transform: rotate(180deg);
}

/*nav other list start*/
header nav .end_bx ul li .list {
  position: absolute;
  width: 150px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 30px;
  z-index: 1;
  padding: 10px;
}
header nav .end_bx ul li .list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(184, 184, 184, 0.1) !important;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  z-index: -1;
}

header nav .end_bx ul li .list::after {
  content: "";
  position: absolute;
  border-left: 15px solid rgb(184, 184, 184, 0.1);
  z-index: -1;
}

/*nav other list end*/

/* end new */
header nav .end_bx .search {
  display: flex;
  align-items: center;
  color: #fff;
}
header nav .end_bx .search input {
  padding: 3px 0px 3px 8px;
  border-radius: 20px;
  outline: none;
  border: none;
  background: transparent;
  color: #fff;
  transition: 1s linear;
  -webkit-transition: 1s linear;
  width: 0px;
}
header nav .end_bx .search i {
  color: rgb(255, 255, 255, 0.7);
  font-size: 13px;
  cursor: pointer;
  transition: 0.4s linear;
}
header nav .end_bx .search i:hover {
  color: #fff;
}

/* javascript classes start*/
header nav .end_bx .search .search_input {
  width: 110px;
}
/* javascript classes start*/

header nav .end_bx .bell {
  color: rgb(255, 255, 255, 0.7);
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s linear;
  margin: 0px 35px;
}
header nav .end_bx .bell:hover {
  color: #fff;
}
header nav .end_bx .user {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
}
header nav .end_bx .user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

/* Category Box Start*/
.cato_bx {
  position: relative;
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 20px 40px 20px 0px;
  overflow: auto;
  scroll-behavior: smooth;
  z-index: 999;
}

.cato_bx::-webkit-scrollbar {
  display: none;
}

.cato_bx button {
  padding: 4px 30px;
  background: red;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s linear;
}

.cato_bx button:hover {
  background: rgb(184, 184, 184, 0.1);
}

.cato_bx .cato_left_right {
  position: sticky;
  right: 3%;
  color: #fff;
  cursor: pointer;
}
.cato_bx .cato_left_right:nth-last-child(1) {
  right: 0%;
}

.cato_bx .cato_left_right i {
  transform: rotate(90deg);
  transition: 0.3s linear;
}

.cato_bx .cato_left_right:nth-last-child(1) i {
  transform: rotate(-90deg);
}
.cato_bx .cato_button_active {
  background: rgb(184, 184, 184, 0.2) !important;
}

/*Movie Box*/
.movie_bx_1 {
  position: relative;
  width: 100%;
  height: 260px;
  display: flex;
  align-items: center;
  overflow: auto;
  scroll-behavior: smooth;
  /* border: 1px solid #fff; */
}
.movie_bx_1::-webkit-scrollbar {
  display: none;
}

/* movies box java class start  */
.movie_bx_1 .movie_box_active {
  display: none;
}
/* movies box java class end  */

.movie_bx_1 .card {
  min-width: 160px;
  height: 270px;
  margin: 0px 5px;
  /* border: 1px solid #fff; */
}

.movie_bx_1 .card:nth-last-child(1) {
  margin: 0px 5px 1px 5px;
}

.movie_bx_1 .card a {
  text-decoration: none;
  color: #fff;
}

.movie_bx_1 .card a img {
  width: 100%;
  height: 80%;
  border-radius: 8px;
}

.movie_bx_1 .card a .content {
  width: 100%;
  height: 15%;
  /* border: 1px solid #fff; */
  margin-top: 5px;
}

.movie_bx_1 .card a .content h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 12px;
}

.movie_bx_1 .card a .content h6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie_bx_1 .card a .content h6 span {
  color: rgb(255, 255, 255, 0.6);
  font-weight: lighter;
}

.movie_bx_1 .card a .content h6 .rate {
  display: flex;
  align-items: auto;
}

.movie_bx_1 .card a .content h6 .rate .fa-solid {
  margin-right: 7px;
  font-size: 9px;
  color: rgb(255, 255, 255, 0.5);
}

.movie_bx_1 .card a .content h6 .rate .fa-solid:nth-last-child(2) {
  color: yellow;
  margin: 1px;
}

.movie_bx_1 .card a .content h6 .rate h6 {
  color: yellow;
  margin-top: 3px;
  font-size: 11px;
  height: 5px;
}

.movie_bx_1 button {
  position: absolute;
  border: none;
  outline: none;
  color: #fff;
  background: none !important;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
}

.movie_bx_1 button::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: rgb(255, 255, 255, 0.5) !important;
  border-radius: 50%;
  left: -5px;
  top: -1px;
  z-index: -1;
  transition: 0.3s linear;
}

.movie_bx_1 button:hover::before {
  background: rgb(255, 0, 0, 0.5) !important;
}

.movie_bx_1 button:nth-child(2) {
  left: 98%;
}

.movie_bx_1 button:nth-child(1) i {
  transform: rotate(90deg);
}
.movie_bx_1 button:nth-child(2) i {
  transform: rotate(-90deg);
}

.movie_bx_1 button:nth-child(2)::before {
  left: -7px;
  top: -1px;
}

.movie_bx_2 {
  width: 90%;
  height: auto;
  margin: auto;
  overflow: unset;
  flex-wrap: wrap;

  padding: 20px 0px;
}

.movie_bx_2 .allCard {
  display: flex;
}

.movie_bx_2 .card {
  width: 140px;
  margin: 20px auto;
}

.movie_bx_2 .card .content {
  word-break: break-all;
  font-size: 15px;
  font-weight: 500;
  color: #cccccc;
}

.cato_bx2 {
  position: relative;
  overflow: visible;
  height: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

.cato_bx2 .left_cato button:nth-child(1) {
  background: none !important;
}

.cato_bx2 .left_cato button i {
  margin-left: 10px;
  transition: 0.3s linear;
}

.cato_bx2 .left_cato button:nth-child(4),
button:nth-child(5) {
  padding: 4px 15px;
  position: relative;
  /* background: rgb(184, 184, 184, 0.1) !important; */
}

.cato_bx2 button .year_bx {
  position: absolute;
  width: 80px;
  height: 150px;
  border: 1px solid #fff;
  background: rgb(8, 8, 8, 0.7) !important;
  border-radius: 10px 3px 3px 10px;
  top: 26px;
  left: 0;
  z-index: 999;
  overflow: auto;
  transition: 1s linear;
  display: none;
}

.cato_bx2 button .year_bx::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}

.cato_bx2 button .year_bx::-webkit-scrollbar-track {
  background: rgb(184, 184, 184, 0.4) !important;
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

.cato_bx2 button .year_bx::-webkit-scrollbar-thumb {
  background: red !important;
  border-radius: 20px;
}

.cato_bx2 button .year_bx li {
  list-style-type: none;
  font-size: 15px;
  padding: 5px;
  font-weight: 600;
  color: #fff;
  transition: 0.3s linear;
}

.cato_bx2 button .year_bx li:hover {
  color: red;
}

.cato_bx2 button .letter_bx {
  width: 40px;
}

.cato_bx2 button .letter_bx li {
  font-size: 16px;
  font-weight: 600;
}

/* JavaScript Classes Start */
.cato_bx2 .show_year1 .year_bx {
  display: unset;
}

.cato_bx2 .show_year1 i {
  transform: rotate(180deg);
}

.cato_bx2 button .year_bx .li_change {
  color: red;
}
/* JavaScript Classes End */
